<div class="comment">
    <div class="comment-header">
        <a class="comment-author" href="#">
            <img src="profilkep.png">
            <span>username</span>
        </a>

        <p>createdAt</p>
    </div>

    <div class="comment-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At consequatur sunt maiores id eius dolorum, voluptas corporis asperiores, perferendis quis tempora deserunt repellendus ad impedit aliquid beatae pariatur laborum omnis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium excepturi eaque velit vel? Voluptas nisi eligendi accusamus perferendis in voluptates debitis aliquid inventore dolores cupiditate. Quam cumque nobis praesentium quod!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam at illo sed saepe accusamus itaque in, vel beatae nemo cum ab a, praesentium libero perspiciatis soluta atque nam, dolorem qui.
        </p>
    </div>

    <div class="comment-footer">
        <app-like-button/>
    </div>
</div>
