<div class="comment">
    <app-user-content-header [getProfilePicture]="commentData.profilePicture" [getUsername]="commentData.username" [getCreatedAt]="commentData.createdAt"/>

    <div class="comment-content">
        <div class="comment-message" *ngIf="!isEditing" [innerHTML]="commentData.message"></div>

        <div class="text-editor" *ngIf="isEditing">
            <textarea #editCommentTextArea (input)="resizeTextArea($event)">{{convertBrToNewlines(commentData.message)}}</textarea>

            <div class="message-editor-buttons">
                <button class="editor-button cancel-button" (click)="closeEditor()">Mégse</button>
                <button #editCancelButton class="editor-button save-button" (click)="modifyComment()">Mentés</button>
            </div>
        </div>

        <div class="comment-actions">
            <app-like-button/>

            <span (click)="openEditor()">ideiglenes módosítás gomb</span>
            <span>Válasz</span>
            <span>Jelentés</span>
        </div>

        <span (click)="toggleShowReplies()">Válaszok</span>

        <div class="replies" *ngIf="showReplies">
            <ng-content/>
        </div>
    </div>
</div>