<app-general-input-form>
    <app-general-input #username [getType]="'text'" [getPlaceholder]="'Felhasználónév'" [getMaxLength]="18"></app-general-input>
    <app-general-input #email [getType]="'email'" [getPlaceholder]="'Email cím'"></app-general-input>
    <app-general-input #password [getType]="'password'" [getPlaceholder]="'Jelszó'"></app-general-input>
    <app-general-input #confirm [getType]="'password'" [getPlaceholder]="'Jelszó megerősítése'"></app-general-input>

    <app-general-button [getText]="'Regisztráció'" (click)="registration()"/>
    
    <app-general-link [getPath]="'/login'" [getText]="'Már van fiókom..'"/>
</app-general-input-form>