@use "../../../styles.scss" as *;

.verificationContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verificationBox{
    width: 350px;
}

.logoContainer{
    width: 100%;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoContainer img{
    width: 275px;
    height: 175px;
}

.logoContainer h1{
    text-align: center;
    font-size: 62px;
    font-weight: 400;
    font-style: normal;
    color: $theme-color;
    font-family: $theme-font-family;
}

.linkContainer{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.inputsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
}

input{  
    width: 100%;
    height: 45px;
    border-radius: 50px;
    text-indent: 15px;
    margin: 3px;
    background-color: --input-background-color;
    color: --input-text-color;
}

button{
    width: 100%;
    height: 45px;
    border-radius: 50px;
    margin: 3px;
    margin-top: 10px;
    background-color: $button-background-color;
    color: $button-text-color;
}

button:hover{
    color: $button-text-hover-color;
    background-color: $button-hover-background-color;
}

button:active{
    color: $button-active-text-color;
    background-color: $button-active-background-color;
}

a{
    margin-left: 30px;
    color: --link-color;
}

a:hover{
    color: --link-hover-color;
}

a:active{
    color: --link-active-color;
}

.Instructions{
    text-align: center;
    
}

@media screen and (max-height: 550px) {
    .verificationContainer{
        max-width: fit-content;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}