<app-navbar></app-navbar>

<div class="contanier">
    <div class="post-body">
        <div class="kategory">
            <h4 class="post-title">Kép feltöltés</h4>
        </div>
        <img class="post-content" src="momentLogo.png" alt="">
        
    </div>
   
    <div class="comment">
        <p>Kép cime:</p>
        <input type="text" class="write">
    </div>

    <div class="comment">
        <p>Kategória:</p>
        
            <select  class="write"  id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          
    </div>
    <div class="comment">
        <p>Leirás:</p>
        <textarea  class="write" ></textarea>
    </div>
    <div  class="interaktion">
        <div class="checkbox">
            <p>Privát post legyen:</p>
            <input type="checkbox"  class="check"value="privat">
        </div>
        
        <div class="comment">
            <button class="send">Feltöltés</button>
        </div>
    </div>

    
    
   


</div>

