<app-navbar></app-navbar>

<div class="post">
    <div class="post-header">
        <a class="post-author" href="/user/{{postData.username}}">
            <img src="{{postData.profilePicture}}">
            <span>{{postData.username}}</span>
        </a>

        <p>{{createdAgo}}</p>
    </div>

    <div class="post-body">
        <div class="post-info">
            <h2 class="post-title">{{postData.title}}</h2>
            <p class="post-category">{{postData.category}}</p>
        </div>

        <p class="description"  [innerHTML]="postData.description"></p>

        <app-lightbox-listener [getImage]="postData.image"/>
    </div>

    <div class="post-footer">
        <app-like-button *ngIf="fetchedData" [getID]="postData.postID" [getLikes]="postData.likes" [getIsLiked]="postData.liked"/>
    </div>

    <div class="comments-container">
        <app-comment/>
    </div>
</div>

<app-lightbox/>