@use "../../../styles.scss" as *;

.post{
    display: flex;
    flex-direction: column;
    color: $dark-text-color;
    margin: auto;
    margin-top:30px;
    margin-bottom:30px;
    border-radius: 15px;
    max-width: 850px;
    padding: 10px;
}

.post-title{
    font-size: 22px;
    margin: 0;
    word-wrap: break-word;
    width: 100%;
}

.post-category{
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 4px;
    font-size: 14px;
    width: fit-content;
    border-radius: 20px;
    background-color: $dark-button-background-color;
}

.post-body{
    margin-bottom: 10px;
}

.post-description{
    word-wrap: break-word;
    margin-top: 5px;
    margin-bottom: 5px;
}