<app-navbar></app-navbar>

<div class="contanier">
    <div class="title">
        <img src="profilkep.png" alt="">
        <h3 class="name">Kevin a pusztitó</h3>
    </div>
    <div class="post-body">
        <h2 class="post-title">Új rekord a konditeremben </h2>
        <div class="kategory">
            <p>#GYM</p>
        </div>
        <img class="post-content" src="momentLogo.png" alt="">
    </div>
    <div class="description">
        
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, quo esse repellendus amet est error animi provident ipsam nihil nisi necessitatibus mollitia eos repellat, aut iure delectus quasi, ducimus odio.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, quo esse repellendus amet est error animi provident ipsam nihil nisi necessitatibus mollitia eos repellat, aut iure delectus quasi, ducimus odio.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, quo esse repellendus amet est error animi provident ipsam nihil nisi necessitatibus mollitia eos repellat, aut iure delectus quasi, ducimus odio.</p>
    </div>
    <div class="interaktion">
        <div class="like">
            <p>43232234</p>
            <img src="likeIcon.svg" alt="">
        </div>
        
        <button class="report">rep</button>
        
    </div>
    <div class="comment">
        <input type="text" class="write">
        <button class="send">Küldés</button>
    </div>
    <div class="coments">
        
        <div class="commentBody">
            <div class="commentProfile" >
                <img src="profilkep.png" alt="">
                <h3 class="commentname">Kevin a pusztitó</h3>
            </div>
            <div class="commenttext">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis enim repellat praesentium minus temporibus velit natus, iste placeat consequuntur, consequatur soluta nemo suscipit blanditiis eveniet voluptas magnam dolore doloribus? Ex?
                </p>
            </div>
            <div class="commentlike">
                <p>43232234</p>
                <img src="likeIcon.svg" alt="">
            </div>
        </div><div class="commentBody">
            <div class="commentProfile" >
                <img src="profilkep.png" alt="">
                <h3 class="commentname">Tarr G</h3>
            </div>
            <div class="commenttext">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis enim repellat praesentium minus temporibus velit natus, iste placeat consequuntur, consequatur soluta nemo suscipit blanditiis eveniet voluptas magnam dolore doloribus? Ex?
                </p>
            </div>
            <div class="commentlike">
                <p>43232234</p>
                <img src="likeIcon.svg" alt="">
            </div>
        </div>
    </div>


</div>

