@use "../../../styles.scss" as *;

.search-container{
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 150px;
    min-height: 2.8rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.searchbar{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: $dark-content-background-color;
    z-index: 100;
}

.searchbar i{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    margin-left: 10px;
    margin-right: 10px;
    color: $dark-text-color;
}

.searchbar input{
    width: 100%;
    font-size: 1.1rem;
    padding-right: 10px;
    background-color: transparent;
    color: $dark-text-color;
}

.searchbar.open{
    border-radius: 22px 22px 0 0;
}

//
.results{
    position: absolute;
    width: 100%;
    max-height: 250px;
    top: 2.7rem;
    border-radius: 0 0px 20px 20px;
    overflow-x: hidden;
    overflow-y: visible;
    overscroll-behavior: contain;
    z-index: 99;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: $dark-content-background-color;
}

.search-result{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 45px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 8px;
    transition: .2s;
    user-select: none;
    cursor: pointer;
    color: $dark-text-color;
}

.search-result:hover{
    background-color: $dark-content-hover-background-color;
}

.search-result:active{
    background-color: $dark-link-active-color;
}

.search-result img{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    object-fit: cover;
}

.search-result .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
}

.search-result .text{
    word-break: break-all;
}

.search-result .text .title{
    font-size: 1rem;
}

.search-result .text .info{
    font-size: 0.8rem;
    color: rgb(160, 160, 160);
}

.results-type{
    font-size: .9rem;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 10px;
    color: rgb(160, 160, 160);
}