<app-navbar/>

<app-sidebar-filter/>

<div class="main-container" style="margin-left: 50px;">
    <div class="content-container">
        <div class="tabs">
            <div class="tab" (click)="selectTab('posts')">Posztok</div>
            <div class="tab" (click)="selectTab('follows')">Követések</div>
            <div class="tab" (click)="selectTab('users')">Felhasználók</div>
        </div>
    
        <app-post *ngFor="let post of posts" [getPostData]="post"/>

        <app-user *ngFor="let user of users" [getUserData]="user"/>

        <app-intersection-observer (intersecting)="fetchData()"/>

        <app-loading *ngIf="isFetching"/>
    </div>
</div>

<app-lightbox/>