<div class="toplist">
    
    <div class="card">
        <div class="place">
            <p>1.</p>
        </div>
        <div class="content">
            <div class="profile">
                <img src="profilkep.png" class="profileimg"alt="">
                <p class="name">Kevin</p>
                <div class="like">
                    <p>2342</p>
                    <img src="likeIcon.svg" alt="">
                </div>
            </div>
            <p class="cim"> <a href="">Lorem ipsum dolor...</a></p>
        </div>
    </div>

</div>