@use "../../../styles.scss" as *;

.toplist{
    min-width: 250px;
    height: 500px;
    margin-left: 20px;
    position: sticky;
    top: 65px;
    border-radius: 10px;
    padding: 10px;
    background-color: $dark-content-background-color;
    color: $dark-text-color;
}