<div class="toplist">
    
    <div class="card">
        <div class="place">
            <h1>1.</h1>
        </div>
        <div class="content">

            <div class="profile">
                <img src="profilkep.png" class="profileimg"alt="">
                <h4 class="name">Kevin</h4>
                <div class="like">
                    <h5>2342</h5>
                    <img src="likeIcon.svg" alt="">
                </div>
            </div>
            <h5 > <a href="">A kép neve link ként </a></h5>
        </div>
    </div>
    
    <div class="card">
        <div class="place">
            <h1>2.</h1>
        </div>
        <div class="content">

            <div class="profile">
                <img src="profilkep.png" class="profileimg"alt="">
                <h4 class="name">Kevin</h4>
                <div class="like">
                    <h5>2342</h5>
                    <img src="likeIcon.svg" alt="">
                </div>
            </div>
            <h5 > <a href="">A kép neve link ként </a></h5>
        </div>
    </div>
    
    <div class="card">
        <div class="place">
            <h1>3.</h1>
        </div>
        <div class="content">

            <div class="profile">
                <img src="profilkep.png" class="profileimg"alt="">
                <h4 class="name">Kevin</h4>
                <div class="like">
                    <h5>2342</h5>
                    <img src="likeIcon.svg" alt="">
                </div>
            </div>
            <h5 > <a href="">A kép neve link ként </a></h5>
        </div>
    </div>
    
    <div class="card">
        <div class="place">
            <h1>4.</h1>
        </div>
        <div class="content">

            <div class="profile">
                <img src="profilkep.png" class="profileimg"alt="">
                <h4 class="name">Kevin</h4>
                <div class="like">
                    <h5>2342</h5>
                    <img src="likeIcon.svg" alt="">
                </div>
            </div>
            <h5 > <a href="">A kép neve link ként </a></h5>
        </div>
    </div>
    

</div>