@use "../../../styles.scss" as *;

.category-upload {
  color: $dark-text-color;

  h3, h4 {
    margin-bottom: 10px;
    font-weight: bold;
    color: $dark-text-color;
  }

  input {
    padding: 6px;
    margin-right: 8px;
    background-color: $dark-input-background-color;
    color: $dark-input-text-color;
    border: 1px solid $dark-border-color;
    border-radius: 4px;

    &::placeholder {
      color:$dark-input-text-color;
    }
  }

  button {
    padding: 6px 12px;
    background-color: $button-background-color;
    color: $button-text-color;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: $button-hover-background-color;
      color: $button-text-hover-color;
    }

    &:active {
      background-color: $button-active-background-color;
      color: $button-active-text-color;
    }
  }

  table {
    width: 100%;
    margin-top: 16px;
    border-collapse: separate;  // A külön szegélyek segítenek a táblázat elemeinek jobban kiemelkedni
    border-spacing: 0 10px;  // Tábla cellák közötti távolság növelése
    background-color: $dark-content-background-color;
    color: $dark-text-color;
    border-radius: 8px; // Sima sarkok a táblázatnak

    th, td {
      border: 1px solid $dark-border-color;
      padding: 12px;
      text-align: left;
      border-radius: 6px; // Kerekített sarkok minden cellához

      &:first-child {
        padding-left: 20px;  // Baloldali cellákhoz extra padding
      }

      &:last-child {
        padding-right: 20px;  // Jobboldali cellákhoz extra padding
      }
    }

    th {
      background-color: $dark-content-background-color;
      color: $dark-text-color;
      text-transform: uppercase;  // Nagybetűs fejléc
    }

    tr {
      transition: background-color 0.2s ease; // Finom animáció a hover effektushoz
    }

    tr:hover {
      background-color: $dark-content-hover-background-color;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); // Hover-hez árnyék hozzáadása
    }

    td {
      transition: background-color 0.2s ease; // Finom háttér színváltozás
    }

    td:hover {
      background-color: $dark-content-hover-background-color; // Hover színváltozás
    }
  }
}
