<app-navbar></app-navbar>

<div class="mainContainer">

    <app-sidebar-filter/>

    <main class="contentContainer">

        <div class="datacard">
            <div class="profil">
                <img src="{{profile.profilePicture}}" alt="">
                
                
            </div>
            
            <p id="username">{{profile.username}}</p>

                <div class="kovetok">
                    <p>{{ profile.followerCount }}</p>
                    <span (click)="togglePopupFollwers()">Követő</span>
                </div>

                <div class="kovetesek">
                    <p>{{ profile.followedCount }}</p>
                    <span (click)="togglePopupFollows()">Követés</span>
                </div>
                
                <div *ngIf="isFollowersList" class="popup-overlay" (click)="closePopup()">
  
                    <div class="popup-container" (click)="$event.stopPropagation()">
                      
                      <i class="bi bi-x-lg closeMenuButton" (click)="closeSidebarMenu()"></i>
                      
                      <div class="popup-content">
                        
                      </div>
                    </div>
                  </div>

                  <div *ngIf="isFollowsList" class="popup-overlay" (click)="closePopup()">
  
                    <div class="popup-container" (click)="$event.stopPropagation()">
                      
                      <i class="bi bi-x-lg closeMenuButton" (click)="closeSidebarMenu()"></i>
                      
                      <div class="popup-content">
                        
                      </div>
                    </div>
                  </div>

            <app-follow-button/>

        </div>
        
        <app-post-container class="postContainer"/>

    </main>
</div>

<app-lightbox/>



