<app-navbar></app-navbar>

<div class="mainContainer">

    <app-sidebar-filter/>

    <main class="contentContainer">

        <div class="datacard">
            <div class="profil">
                <img src="{{profilePicture}}" alt="">
                <p id="username">{{username}}</p>
                
            </div>
            <app-follow-button/>

            <div class="kovetok">
                <p>0</p>
                <p>Követő</p>
            </div>

            <div class="kovetesek">
                <p>0</p>
                <p>Követés</p>
            </div>
        </div>
        
        <app-post-container class="postContainer"/>

    </main>
</div>

<app-lightbox/>



