<div class="loginContainer">
    <div class="loginBox">
        <div class="logoContainer">
            <img src="momentLogo.png" alt="">
            <h1>MOMENT</h1>
        </div>
        <div class="itemsContainer">
            <div class="inputsContainer">
                <input type="email" placeholder="Email cím" [(ngModel)]="user.email">
                <input type="password" placeholder="Jelszó" [(ngModel)]="user.password">
    
                <button (click)="login()">Bejelentkezés</button>
            </div>
            <div class="linkContainer">
                <a routerLink="/forgot">Elfelejtettem a jelszavam..</a>
                <a routerLink="/registration">Még nincs fiókom..</a>
            </div>
        </div>
    </div>
</div>