.lightbox-listener {
    background-color: rgb(20, 20, 20);
    border-radius: 20px;
    cursor: pointer;
}

.post-image {
    width: 100%;
    height: auto;
    max-height: 500px;
    border-radius: 20px;
    object-fit: contain;
}