<div class="post" routerLink="/post/{{postData.postID}}/{{processedTitle}}">
    <div class="post-header">
        <div class="post-author" routerLink="/user/{{postData.username}}">
            <img class="user-profileImage" src="{{postData.profilePicture}}" alt="">
            <span class="author">{{postData.username}}</span>
        </div>

        <p>{{createdAgo}}</p>
    </div>

    <div class="post-body">
        <h2 class="post-title">{{postData.title}}</h2>
        <p class="post-category">{{postData.category}}</p>
        <app-lightbox-listener [getImage]="postData.image"/>
    </div>

    <div class="post-footer">
        <app-like-button [getID]="postData.postID" [getLikes]="postData.likes" [getIsLiked]="postData.liked"/>
    </div>
</div>