<div class="post">
    <div class="post-header">
        <div class="post-author" routerLink="/user/{{postData.username}}">
            <img class="user-profileImage" src="profilkep.png" alt="">
            <span class="author">{{postData.username}}</span>
        </div>
    </div>

    <div class="post-body">
        <h2 class="post-title">{{postData.title}}</h2>
        <p class="post-category">{{postData.category}}</p>
        <img class="post-content" src="profilkep.png" alt="">
    </div>

    <div class="post-footer">
        <button id="{{postData.postID}}" class="likeButton" (click)="toggleLike()">
            <span class="likeText">{{postData.likes}}</span>
            <img src="likeIcon.svg" alt="">
        </button>
    </div>
</div>