@use "../../../styles.scss" as *;

.post {
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: $dark-text-color;
    background-color: $dark-content-background-color;
    cursor: pointer;
}

.post-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 10px;
}

.user-profileImage{
    width: 30px;
    height: 30px;
    border: 1px solid $dark-border-color;
    border-radius: 100%;
}

.post-author {
    font-weight: bold;
    cursor: pointer;
}

.post-author:hover {
    color: $dark-link-hover-color;
}

.post-author:active {
    color: $dark-link-active-color;
}

.author {
    margin-left: 3px;
}

.post-category {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 14px;
    width: fit-content;
    border-radius: 20px;
    background-color: red;
    margin-top: 5px;
    margin-bottom: 5px;
}

.post-body {
    margin-bottom: 15px;
}

.post-title {
    font-size: 22px;
    margin: 0;
}

.post-content {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.likeButton{
    display: flex;
    align-items: center;
    border: 1px solid $dark-border-color;
    border-radius: 20px;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    color: $dark-text-color;
    background-color: $button-background-color;
}

.likeButton img{
    margin-left: 5px;
}

.likeButton:hover{
    background-color: $button-hover-background-color;
    color: $button-text-hover-color;
    border: 1px solid $dark-border-color;
}

.likeText{
    font-size: 16px;
    font-weight: bold;
}

.liked{
    background-color: red;
}