/* You can add global styles to this file, and also import other style files */
body{
    background-color:#101216;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$logo-invert: invert(85%);


$Moment-f-f:"Lilita One", serif;
$moment: #335CB5;
$input:#172d44;
$input-c:#000000;
$input-bg:#E5E7EB;

$dark-bg: #101216;

$dark-border:#222425;
$dark-text-c:#F9FAFB;

$inactiv-b:#343638;
$button: #335CB5;
$button-hover: #2a4888;


$link:#6c6e70;
$link-hover:#3f4041;

$light-bg:#F9FAFB;
$light-border:#D1D5DB;//E5E7EB


$menu:rgba(0, 0, 0, 0.85)

