<div class="forgotPwContainer">
    <div class="forgotPwBox">
        <div class="logoContainer">
            <img src="momentLogo.png" alt="">
            <h1>MOMENT</h1>
        </div>
        <div class="itemsContainer">
            <div class="inputsContainer">
                <p class="Instructions">Írja be az E-mail cimedet a megerősitő kódért</p>
                <input type="email" placeholder="Email cím">
                
    
                <button (click)="forgotPw()">E-mail küldése</button>
            </div>
            
            <a routerLink="/login">Vissza a bejelentkezéshez... </a>
            
        </div>
    </div>
</div>