<div class="restorePwContainer">
    <div class="restorePwBox">
        <div class="logoContainer">
            <img src="momentLogo.png" alt="">
            <h1>MOMENT</h1>
        </div>
        <div class="itemsContainer">
            <div class="inputsContainer">
                <p class="Instructions">Írja be az E-mail cimedet a megerősitő kódért</p>
                <input type="password" placeholder="ÚJ Jelszó" >
                <input type="password" placeholder="Új jelszó megerősítése" >
    
                <button (click)="restorePw()">Jelszó mentése</button>
            </div>
            
            <a routerLink="/login">Vissza a bejelentkezéshez... </a>
            
        </div>
    </div>
</div>