.loadingContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.loadingIcon{
    width: 6rem;
    height: 6rem;
    animation: spin 2.2s infinite;
    fill: white;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    45% {
      transform: rotate(180deg);
    }

    50% {
        transform: rotate(165deg);
    }

    90% {
        transform: rotate(360deg);
    }

    95% {
        transform: rotate(345deg);
    }

    100% {
        transform: rotate(360deg);
    }
  }