@use "../../../styles.scss" as *;

.messsage-input-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    margin-top: 5px;
}

textarea{
    display: flex;
    width: 100%;
    height: 32px;
    font-size: 1rem;
    resize: none;
    border: none;
    outline: none;
    overflow: hidden;
    color: $dark-text-color;
    background-color: transparent;
    border-bottom: 2px solid #555;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

textarea:focus{
    border-bottom: 2px solid $theme-color;
}
  
textarea:hover{
    border-bottom: 2px solid #ccc;
}

.message-input{
    display: flex;
}

.message-input img{
    width: 30px;
    height: 30px;
    border: 1px solid $dark-border-color;
    border-radius: 100%;
    margin-right: 10px;
}

.message-input-buttons{
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
}

button{
    padding: 4px;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    color: $dark-text-color;
}

.cancel-button{
    background-color: $dark-content-background-color;
}

.cancel-button:hover{
    background-color: $dark-content-hover-background-color;
}

.save-button{
    color: $dark-text-color;
    background-color: $button-background-color;
    margin-left: 2px;
}

.save-button:hover{
    color: $button-text-hover-color;
    background-color: $button-hover-background-color;
}

.save-button:disabled{
    color: #5a5a5a;
    background-color: #032757;
}