<aside>
    <i class="bi bi-funnel-fill openFilterButton" (click)="openFilterSidebar()"></i>

    <div class="sidebarContainer">
        <i class="bi bi-x-lg closeFilterButton" (click)="closeFilterSidebar()"></i>

        <div class="searchBar">
            <i class="bi bi-search"></i>
            <input type="text" placeholder="Kategória keresése" [(ngModel)]="categoryFilterText" #filter>
        </div>
    
        <div class="selectedCategoriesContainer">
            <label *ngIf="selectedCategories.length == 0">Nincs kiválasztva kategória</label>
    
            <label class="category" *ngFor="let category of selectedCategories" id="{{category.id}}" (click)="toggleCategory(category)">{{category.name}}</label>
    
            <button class="filterButton">Szűrés</button>
        </div>
    
        <hr>
    
        <div class="categoryContainer">
            <label class="category" *ngFor="let category of categories | filterCategory: categoryFilterText" id="{{category.id}}" (click)="toggleCategory(category)">{{category.name}}</label>
        </div>
    </div>
</aside>