@use "../../../styles.scss" as *;

.openFilterButton{
    display: none;
    position: fixed;
    align-items: center;
    font-size: 25px;
    margin-top: 2px;
    padding: 2px;
    border-radius: 10px;
    transition: .5s;
}

label{
    color: $dark-text-color;
}

.openFilterButton:hover{
    background-color: $light-background-color;
}

.closeFilterButton{
    display: none;
    justify-self: flex-end;
    font-size: 22px;
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
    transition: .2s;
    color: $dark-button-close-color;
}

.closeFilterButton:hover{
    color: $dark-button-close-color;
    background-color: $dark-button-close-hover-background-color;
}


aside{
    position: sticky;
    top: 55px;
    background-color: $dark-background-color;
}

.sidebarContainer{
    width: 250px;
    height: calc(100vh - 55px);
    border-right: 1px solid $dark-border-color;
    padding: 5px;
    overflow-y: scroll;
    scrollbar-width: none;
    overscroll-behavior: contain;
    transition: .2s;
    background-color: $dark-background-color;
}

.sidebarContainer hr{
    margin: 0;
    padding: 0;
}

.searchBar i{
    position: absolute;
    text-indent: 5px;
    font-size: 20px;
}

.searchBar input{
    width: 100%;
    border-radius: 20px;
    border: 1px solid $dark-border-color;
    text-indent: 35px;
    font-size: 18px;
    user-select: none;
}

.searchBar input:hover{
    border: 1px solid $dark-border-color;
}

.selectedCategoriesContainer{
    margin: 5px;
}

.filterButton{
    width: 100%;
    height: 30px;
    border-radius: 50px;
    transition: .2s;
    background-color: $button-background-color;
    color: $button-text-color;
}

.filterButton:hover{
    color: $button-text-hover-color;
    background-color: $button-hover-background-color;
}

.filterButton:active{
    color: $button-active-text-color;
    background-color: $button-active-background-color;
}

.filterButton:hover{
    background-color: $button-hover-background-color;
}

.categoryContainer{
    display: flex;
    flex-wrap: wrap;
}

.category{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 15px;
    border: 1px solid $dark-border-color;
    border-radius: 20px;
    margin: 5px;
    color: $dark-text-color;
    user-select: none;
    cursor: pointer;
    transition: .2s;
}

.category:hover{
    border: 1px solid $dark-border-color;
    background-color: $dark-content-background-color;
}

@media screen and (max-width: 750px){
    .openFilterButton, .closeFilterButton{
        display: flex;
    }

    .sidebarContainer{
        position: fixed;
        left: -100%;
        opacity: 0;
    }

    .sidebarContainer.open{
        left: 0;
        opacity: 1;
    }
}