@use "../../../styles.scss" as *;

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.content-author {
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.content-author span {
    color: $dark-text-color;
    margin-left: 3px;
}

.content-author:hover span{
    color: $dark-link-hover-color;
}

.content-author:active span{
    color: $dark-link-active-color;
}

.content-author img{
    width: 30px;
    height: 30px;
    border: 1px solid $dark-border-color;
    border-radius: 100%;
    user-select: none;
    -webkit-user-drag: none;
}