@use "../../../styles.scss" as *;

.content-header {
    width: fit-content;
    font-size: .85rem;
}

.content-header .content-info {
    display: flex;
}

.content-header .content-info p {
    color: rgb(180, 180, 180);
}

.content-header .content-info span {
    margin-right: 5px;
}

.content-author {
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.content-author span {
    color: $dark-text-color;
    margin-left: 3px;
}

.content-author:hover span{
    color: $dark-link-hover-color;
}

.content-author:active span{
    color: $dark-link-active-color;
}

.content-author img{
    width: 30px;
    height: 30px;
    margin-right: 3px;
    border: 1px solid $dark-border-color;
    border-radius: 100%;
    user-select: none;
    -webkit-user-drag: none;
    object-fit: cover;
}

@media screen and (max-width: 800px) {
    .content-header .content-info {
        flex-direction: column;
    }
}