@use "../../../styles.scss" as *;

.follow-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 30px;
    margin-left: 8px;
    color: $theme-color;
    font-family: $theme-font-family;
    background-color: $dark-button-background-color;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    cursor: pointer;
}

.follow-button:hover{
    background-color: $dark-content-background-color;
}